ul {
  list-style: none;
}

li {
  width: 100%;
  border: 1px solid;
  padding: 0 16px;
  padding-bottom: 16px;
}

.flex-row {
  display: flex;
  justify-content: space-around; 
  gap: 20px;  
  margin: 20px 0;
}


.post-title {
  color: black;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.category-flex-row {
  display: flex;
  gap: 8px;
}

.category-tag {
  border: 1px solid blue;
  color: blue;
  padding: 4px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

